/* This is the global stylesheet that controls the styling of all individual components in the website */

/* importing Roboto font for use in the content section */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* importing JetBrains Mono font for use only on the links in the sidebar component*/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto&display=swap');

/* Resetting */


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Clearing bullet points from list */

ul{
  list-style: none;
}

/* Removing underlines from links */

a{
  text-decoration: none;
}

/* General styling for all the content */

html,body{
  background-color: #f1f1f1; 
  font-family: 'Roboto', sans-serif;
  line-height: 1.8;
  scroll-behavior: smooth;
}

/* styling the scroll to top button */

.scroll_top{
  position: fixed;
  right: 50px;
  bottom: 60px;
  cursor: pointer;
  color: #BD5D38;
  font-size: 32px;
}

.scroll_top:hover{
  opacity: 0.8;
}

/* Sidebar is positioned fixed at the left side */

.sidebar {
  margin: 0;
  padding: 0;
  width: 270px;
  background-color: #6c757d;
  position: fixed;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling the personal image */

img{
  border-radius: 50%;
  height:200px;
  width:200px;
  display: block;
  margin-bottom: 20px;
}

/* Styling the individual list items */

.navbar li{
  margin-bottom: 25px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
}

/* Styling the individual links on the sidebar */

.about_link, 
.education_link, 
.experience_link,
.news_link,
.awards_link, 
.contact_link{
  color: rgba(255,255,255,0.5);
  cursor: pointer;
}

/* Giving a hover effect to links */

.about_link:hover, 
.education_link:hover, 
.experience_link:hover, 
.news_link:hover, 
.awards_link:hover, 
.contact_link:hover{
  color:#f1f1f1;
}

/* All p tags have a general font size */

p{
  font-size: 18px;
}

/* h1 tags are used as the main heading of each component */

h1{
  font-size: 56px;
  margin-bottom: 50px;
  color: #BD5D38;
}

/* From here the styling for the content on the right hand side starts */

.bold_name{
  margin-bottom: 0px;
}

/* for styling the links in the experience section */

.main_color{
  color: #BD5D38;
  text-decoration: none;
  transition: 0.9s;
}
.main_color:hover{
  text-decoration: underline;
}

/* Styling the container that contains the components */

.main_content{
  margin-left: 300px;
  padding:80px 48px;
}

.mobile_navbar p{
  display: none;
}

/* Generalized styling for every component*/

.about_section, 
.education_section, 
.experience_section, 
.awards_section, 
.news_section, 
.contact_section
{
  margin-bottom: 100px;
  margin-right: 40px;
  border-bottom: 1px dotted;
  padding-bottom: 30px;
}


/* Styling the link to the component where the user is currently */

.active_link{
  color:#f1f1f1;
}


/* About section styling starts */

.about_section{
  padding-bottom: 80px;
}


.short_intro{
  font-size: 28px;
  margin-bottom: 20px;
}

/* Styling the font awesome icons */

.about_icons{
  font-size: 56px;
  border-radius: 50%;
  padding:10px;
  margin-right: 60px;
  background-color: #333;
  color:#fff;
  margin-bottom: 20px;
}

/* Hover effect on icons */

.about_icons:hover{
  color: #fff;
  background-color: #BD5D38;
}

.opportunities{
  margin-bottom: 50px;
}
.additional_info{
  margin-bottom: 5px;
}

/* Styling the link to the resume */

.resume{
  font-size: 22px;
}

/* Creating the hover animation */

.resume::after{
  content: "";
  display: block;
  width:0;
  height: 2px;
  background-color: #BD5D38;
  transition: width 0.35s;
}
.resume:hover::after{
  width: 80px;
  transition: width 0.35s;
}


/* Education section styling starts */

/* Positioning the content */

.edu_flex{
  display: flex;
  justify-content: space-between;
}
.edu_flex h3{
  font-size: 20px;
}

/* Styling the icon in education section */

.edu_icon{
  margin-right: 12px;
}
.edu_content{
  margin-left: 37px;
}
.edu_list{
  list-style-type: circle;
  margin-left: 17px;
  line-height: 1.4;
  padding-bottom: 50px;
}
.course_content{
  margin-left: 37px;
  padding-bottom: 90px;
  line-height: 1.5;
}
.course_content h3{
  margin-bottom: 15px;
  font-size: 19px;
}


/* Experience section styling starts */

/* card contains the each individual experience */

.card{
  padding:30px 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0, 0.23);
  margin-right: 60px;
  margin-bottom: 80px;
}

/* positioning the elements in the card components */

.card_grid{
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 40px;
}

/* Styling the grid items */

.position{
  font-size: 34px;
  color: #1A73E8;
}
.location, 
.dates
{
  font-size: 18px;
}
.company{
  font-size: 22px;
}

/* for highlighting keywords */

.bold{
  font-weight: bold;
}


/* Styling the icons in the experience section  */

.card_icon{
  margin-top: 15px;
  margin-right: 7px;
  font-size: 18px;
}
.position_description{
  list-style-type: disc;
  margin-left: 17px;
  font-size: 18px;
}


/* News section styling starts */

.news_section, 
.awards_section
{
  padding-bottom: 100px;
}
.news_section p{
  margin-bottom: 10px;
}
.news_grid{
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-bottom: 10px;
}

/* Styling the news icon */

.news_icon{
  padding-top: 5px;
  font-size: 22px;
}

/* Award section styling starts */

.awards_section p{
  margin-bottom: 10px;
}
.highlighted{
  color: #BD5D38;
}

.award_icon{
  margin-right: 10px;
}

/* Styling the contact form section */

.contact_section{
  margin-bottom: 60;
  border-bottom: 0;
  padding-bottom: 60px;
}
.contact_content{
  padding: 0px 110px;
}
.input_group{
  margin-bottom: 50px;
}
label{
  font-size: 18px;
}

/* Styling the input fields */

input, textarea{
  display: block;
  margin-top: 4px;
  padding: 10px 12px;
  width: 90%;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}

/* Styling the focus state of the input fields */

input:focus, textarea:focus{
  outline: none;
  border: 2px solid #BD5D38;
}

/* Styling the submit button of the form */

.submit_btn{
  border: none;
  text-align: center;
  display: inline-block;
  background-color: #0a0a23;
  color: #fff;
  min-height: 30px;
  min-width: 120px;
  padding:15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}
.submit_btn:hover{
  background-color:#002ead;
  transition: 0.7s;
  box-shadow: none;
}

/* Removing the default browser style when the user presses tab to reach the submit button */

.submit_btn:focus {
  outline: none;
}

/* Styling the error when the user input is invalid */

.error_message{
  color: red;
  margin-top: 10px; 
}