/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

/* importing JetBrains Mono font */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto&display=swap');

/* CSS reset */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Clearing bullet points from list */

ul{
  list-style: none;
}

/* Removing underlines from links */

a{
  text-decoration: none;
}

/* TODO - Get rid of the height, select a font family for the content section */

body{
  height:2000px;
  background-color: #f1f1f1; 
  /* font-family: 'Roboto', sans-serif; */
}

/* Sidebar is positioned fixed at the left side */

.sidebar {
  margin: 0;
  padding: 0;
  width: 270px;
  background-color: #6c757d;
  position: fixed;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling the personal image */

img{
  border-radius: 50%;
  height:200px;
  width:200px;
  display: block;
  margin-bottom: 20px;
}

/* Styling the individual list items */

.navbar li{
  margin-bottom: 25px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
}

/* Styling the individual links */

.navbar a{
  color:rgba(255, 255, 255, 0.5);
}

/* implementing the hover effect on links */

.navbar a:hover{
  color:#f1f1f1;
}

/* TODO - style the content section */

div.content {
  margin-left: 300px;
  padding: 1px 16px;
}
